<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>	
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>	
		<meta charset="utf-8">
         <title>Curriculum de Solicitud </title>
</head>
<body>
   <header th:replace="/layouts/headerEmp::headerEmp"></header> 
   
     
      <div class="row justify-content-center centraar">
    <div class="col-md-7 ">
       
        <div>
        <h1 th:text= "${cv.nombre}"></h1>
        </div>
      
       <div class="shadow-lg p-3 mb-5 bg-body rounded text-dark bg-opacity-25"> Educacion : <a th:text= "${cv.educacion}"> </a></div>
       <div class="shadow-lg p-3 mb-5 bg-body rounded text-dark bg-opacity-25"> Idiomas : <a  th:text= "${cv.idiomas}"> </a></div>
       <div class="shadow-lg p-3 mb-5 bg-body rounded text-dark bg-opacity-25"> Nivel de Conocimientos Informaticos : <a  th:text= "${cv.conocimientoInfo}"> </a></div>
       <div class="shadow-lg p-3 mb-5 bg-body rounded text-dark bg-opacity-25"> Contacto : <a  th:text= "${cv.contacto}"> </a></div>
       <div class="shadow-lg p-3 mb-5 bg-body rounded text-dark bg-opacity-25"> Informacion Adicional : <a  th:text= "${cv.infoComplementaria}"> </a></div>
       <div class="shadow-lg p-3 mb-5 bg-body rounded text-dark bg-opacity-25"> Experiencia Laboral : <a  th:text= "${cv.expLaboral}"> </a></div>
       
       <a th:href="@{/empleador/solicitudes}" class="btn btn-secondary" role="button">Ver solicitudes</a>
       <a th:href="@{/empleador/perfiles}" class="btn btn-primary" role="button">Ver perfiles</a>
       </div>
       </div>
   <footer th:replace="/layouts/footer::footer"></footer>
</body>
</html>