<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>	
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>	
		<meta charset="utf-8">
         <title>MIS CURSOS</title>
</head>
<body>
   <header th:replace="/layouts/headerEmp::headerEmp"></header> 
    <div th:if="${param.error}" class="alert alert-danger" role="alert"> Ocurrio errores en la validacion. Asegurese de ingresar una fecha posterior.</div>
    <div class="row justify-content-center">
    <div class="col-md-10 ">
     <div class="centraar">
     <div class="shadow-lg p-1 mb-4 bg-body rounded text-dark bg-opacity-25">
         <h1> Mis Cursos </h1>
        </div>
     </div>
     <div >
     <a th:href="@{/curso/nuevo}" id="curso" type="button" class="btn btn-dark"> NUEVO CURSO </a>
     </div>
     <table class="table table-success table-striped centraar">
     <tr>
     <th> Titulo</th>
     <th> Categoria</th>
     <th> Fecha inicio</th>
     <th> Dictado por </th>
     <th> Opciones </th>
     </tr>
     <tr th:each="c:${cursos}">
      <td th:text="${c.nombre}"></td>
      <td th:text="${c.categoria}"></td>
      <td th:text="${#temporals.format(c.fechaInic,'dd/MM/yyyy')}"></td>
      <td th:text="${c.dictador}"></td>
      <td>
         <a th:href="@{/empleador/eliminarCurso/}+${c.id}" id="elim" type="button" class="btn btn-danger">Eliminar</a>
      </td>
     </tr>
     </table>
    </div>
    </div>
   <footer th:replace="/layouts/footer::footer"></footer>
</body>
</html>