<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>	
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>	
		<meta charset="utf-8">
         <title>Crear Curriculum Vitae</title>
</head>
<body>
   <header th:replace="/layouts/headerCiu::headerCiu"></header> 
<div class="container">
<div class="row justify-content-center mt-5 pt-5">
  <h2>Mi Curriculum Vitae</h2>
   <form th:action="@{/ciudadano/modificar}" method="post" th:object="${curriculum}" class="row g-3">
  
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Contacto </label>
    <input th:field="*{contacto}" type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputExp4" class="form-label">Experiencia Laboral</label>
    <input th:field="*{expLaboral}" type="text" class="form-control" id="inputExp4">
  </div>
  <div class="col-6">
    <label for="inputEdu" class="form-label">Educacion</label>
    <input th:field="*{educacion}" type="text" class="form-control" id="inputW¡Edu" placeholder="Ingrese educacion">
  </div>
  <div class="col-6">
    <label for="inputIdiomas2" class="form-label">idiomas</label>
    <input th:field="*{idiomas}" type="text" class="form-control" id="inputIdiomas2" placeholder="Ingrese idiomas">
  </div>
  <div class="col-md-6">
    <label for="inputZip" class="form-label">Informacion complementaria</label>
    <input th:field="*{infoComplementaria}" type="text" class="form-control" id="inputZip">
  </div>
  <div class="col-md-6">
    <label for="inputZip" class="form-label">Nombre y Apellido</label>
    <input th:field="*{nombre}" type="text" class="form-control" id="inputZip">
  </div>
  <div class="col-md-6">
   <label for="inputIdiomas2" class="form-label">Conocimientos informaticos:</label>
    <div class="form-check form-check">
  <input th:field="*{conocimientoInfo}" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
  <label class="form-check-label" for="inlineRadio1">Basico</label>
  
</div>
<div class="form-check form-check">
  <input  th:field="*{conocimientoInfo}" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
  <label class="form-check-label" for="inlineRadio2">Intermedio</label>
</div>
<div class="form-check form-check">
  <input  th:field="*{conocimientoInfo}" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
  <label class="form-check-label" for="inlineRadio3">Avanzado </label>
</div>
</div>
   
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Guardar cambios</button>
  </div>
</form>
   
</div>
</div>
   
   <footer th:replace="/layouts/footer::footer"></footer>
</body>
</html>