<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>	
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<meta charset="utf-8">
<title>Inicio Sesion</title>
</head>
<body>
 <header th:replace="/layouts/header::header"></header> 
 
  <div class="container">
   <div class="row justify-content-center mt-5 pt-5">
    <div class="col-md-6">
     <h2> Iniciar Sesion </h2>
     <h3 class="centraar"> Las mejores ofertas te esperan!!</h3>
     <form>
     <div class="mb-4">
      <label for="DniId" class="form-label">DNI</label>
       <input type="number" class="form-control" id="DniId" placeholder="Ingrese Dni">
     </div>
     <div class="mb-4">
      <label for="contraseñaId" class="form-label">CONTRASEÑA</label>
       <input type="password" class="form-control" id="contraseñaId" placeholder="Ingrese contraseña">
     </div>
     <div class="col-12 centraar">
      <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
      <button type="button" class="btn btn-dark">Cancelar</button>
     </div> 
     </form>
    </div>
   </div> 
  </div>  
</body>
</html>