<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>	
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>	
		<meta charset="utf-8">
         <title>INICIO  EMPLEADOR</title>
</head>
<body>
   <header th:replace="/layouts/headerEmp::headerEmp"></header> 

    <div class="container centraar">
    <div class="shadow-lg p-1 mb-4 bg-body rounded text-dark bg-opacity-25">
        <h1> BIENVENIDO/A </h1>
    </div>   
   </div>
    <h4 class="container centraar"> Gracias por su registro. Este es el mejor sitio para tu empresa.<br>
     Podras publicar tus empleos y capacitaciones en alguna de las opciones.</h4>
 
  <section>
   <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
   <div class="card" style="width: 18rem;">
      <img th:src="@{/images/empleo.jpg}" class="card-img-top" alt="empleo" height="180px">
      <div class="card-body">
        <h5 class="card-title">Publicar empleo</h5>
         <p class="card-text">Aqui podras publicar tus empleos para que las personas puedan verlos.</p>
        <a href="#" class="btn btn-dark">Publicar Empleo</a>
      </div>
    </div>
    </div>
    <div class="col">
    <div class="card" style="width: 18rem;">
      <img th:src="@{/images/imagen.webp}" class="card-img-top" alt="dd" height="180px">
      <div class="card-body">
        <h5 class="card-title">Crear Capacitacion</h5>
         <p class="card-text"> En esta seccion puedes crear tus capacitaciones.</p>
        <a href="#" class="btn btn-secondary">Crear Curso</a>
      </div>
    </div>
    </div>
    <div class="col">
     <div class="card" style="width: 18rem;">
      <img th:src="@{/images/imagen3.webp}" class="card-img-top" alt="..." height="180px">
      <div class="card-body">
        <h5 class="card-title">Ver perfiles laborales</h5>
         <p class="card-text"> Puedes ver los perfiles laborales que estan buscando empleo.</p>
        <a href="#" class="btn btn-primary">Ver Perfiles</a>
      </div>
    </div>  
    </div>
    </div> 
  </section>
     
  
   <footer th:replace="/layouts/footer::footer"></footer>
</body>
</html>