<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>	
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<meta charset="utf-8">
<title>Nuevo Ciudadano</title>
</head>
<body>
 <header th:replace="/layouts/header::header"></header> 
 
<div class="container">
<div class="row justify-content-center mt-5 pt-5">
<div class="col-md-10 ">
 <h2> Registro de Nuevo Ciudadano</h2>
 <form class="row g-3 needs-validation" >
  <div class="col-md-4 position-relative">
    <label for="idDNI" class="form-label">Dni</label>
    <input type="number" class="form-control" id="idDNI" placeholder="Ingrese DNI">
     
  </div>
  <div class="col-md-4 position-relative">
    <label for="NroTramite" class="form-label">Nº de Tramite</label>
    <input type="number" class="form-control" id="NroTramite" placeholder="Ingrese numero de tramite">  
  </div>
  
  <div class="col-md-4 position-relative">
    <label for="emailId" class="form-label">Email</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="email">@</span>
      <input type="email" class="form-control" id="emailId" aria-describedby="email" placeholder="Ingrese email">
    </div>
  </div>
  
  <div class="col-md-4 position-relative">
    <label for="ProvinciaId" class="form-label">Provincia</label>
    <input type="text" class="form-control" id="ProvinciaId" placeholder="Ingrese provincia">
  </div>
  
  <div class="col-md-4 position-relative">
    <label for="EstadoCivilId" class="form-label">Estado Civil</label>
    <select class="form-select" id="EstadoCivilId" >
      <option value="Soltero/a">Soltero/a </option>
      <option value="Casado/a"> Casado/a </option>
      <option value="Viudo/a"> Viudo/a</ootion>
       <option value="Divorciado/a"> Divorciado/a</ootion>
      <option value="No especificar"> No especificar </ootion>
    </select>
  </div>
  
  <div class="col-md-4 position-relative">
    <label for="TelefonoId" class="form-label">Telefono</label>
    <input type="text" class="form-control" id="TelefonoId" placeholder="Ingrese telefono">
  </div>
  
  <div class="col-md-5 position-relative">
    <label for="ContraseñaId" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="ContraseñaId" placeholder="Ingrese contraseña">
  </div>
  
  <div class="col-md-5 position-relative">
    <label for="FechaNacId" class="form-label">Fecha de nacimiento</label>
    <input type="date" class="form-control" id="FechaNacId" placeholder="Ingrese fecha de nacimiento">
  </div>
  
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Guardar</button>
    <button class="btn btn-secondary" type="button">Cancelar</button>
  </div>
 </form>
</div>
</div> 
</div>  
</body>
</html>