<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>	
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<meta charset="utf-8">
<title>Nuevo Empleador</title>
</head>
<body>
 <header th:replace="/layouts/header::header"></header> 
 
<div class="container">
<div class="row justify-content-center mt-5 pt-5">
<div class="col-md-10 ">
 <h2> Registro de Nuevo Empleador</h2>
 <form class="row g-3 needs-validation" th:action="@{/empleador/postEmpleador}" th:object="${empleador}" method="POST">
  <div class="col-md-4 position-relative">
    <label for="idCuit" class="form-label">Cuit</label>
    <input type="number" class="form-control" id="idCuit" placeholder="Ingrese Cuit">
     
  </div>
  <div class="col-md-4 position-relative">
    <label for="idRazonSocial" class="form-label">Razon Social</label>
    <input type="text" class="form-control" id="idRazonSocial" placeholder="Ingrese razon Social">  
  </div>
  
  <div class="col-md-4 position-relative">
    <label for="idNombreComercial" class="form-label">Nombre Comercial</label>
    <input type="text" class="form-control" id="idNombreComercial" placeholder="Ingrese Nombre Comercial">
  </div>
  
  <div class="col-md-4 position-relative">
    <label for="idInicioAct" class="form-label">Inicio de actividad</label>
    <input type="text" class="form-control" id="idInicioAct" placeholder="Ingrese fecha de inicio de actividad">
  </div>
  
  <div class="col-md-4 position-relative">
    <label for="emailId" class="form-label">Email</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="email">@</span>
      <input type="email" class="form-control" id="emailId" aria-describedby="email" placeholder="Ingrese email">
    </div>
  </div>
  
  <div class="col-md-4 position-relative">
    <label for="ProvinciaId" class="form-label">Provincia</label>
    <input type="text" class="form-control" id="ProvinciaId" placeholder="Ingrese provincia">
  </div>
  
   <div class="col-md-4 position-relative">
    <label for="domicilioId" class="form-label">Domicilio</label>
    <input type="text" class="form-control" id="domicilioId" placeholder="Ingrese domicilio">
  </div>
 
  <div class="col-md-4 position-relative">
    <label for="TelefonoId" class="form-label">Telefono</label>
    <input type="text" class="form-control" id="TelefonoId" placeholder="Ingrese telefono">
  </div>
  
  <div class="col-md-4 position-relative">
    <label for="ContraseñaId" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="ContraseñaId" placeholder="Ingrese contraseña">
  </div>
  
   <div class="col-md-5 position-relative">
    <label for="ProvinciaId" class="form-label">Pagina Web</label>
    <input type="text" class="form-control" id="ProvinciaId" placeholder="Ingrese Pagina Web(opcional)">
  </div>
  
   <div class="col-md-6 position-relative">
    <label for="DescripcionId" class="form-label">Descripcion</label>
    <input type="text" class="form-control" id="ProvinciaId" placeholder="Ingrese Descripcion">
  </div>
  
  <div class="col-12 centraar">
    <button class="btn btn-primary" type="submit">Guardar</button>
     <a th:href="@{/empleador/inicio}" class="btn btn-secondary" role="button">Cancelar</a>
  </div>
 </form>
</div>
</div> 
</div>

  <footer th:replace="/layouts/footer::footer"></footer>  
</body>
</html>