<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>	
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<meta charset="utf-8">
<title>Nuevo Ciudadano</title>
</head>
<body>
 <header th:replace="/layouts/header::header"></header> 
 
<div class="container">
<div class="row justify-content-center mt-5 pt-5">
<div class="col-md-10 ">

 <h2> Registro de Nuevo Ciudadano</h2>

 <form class="row g-3 needs-validation" autocomplete="off" th:action="@{/ciudadano/postCiudadano}" th:object="${ciudadano}" method="POST">
  <div class="col-md-4 position-relative">
    <label for="idDNI" class="form-label">Dni</label>
    <input th:field=*{usuario.username} type="number" class="form-control" id="idDNI" placeholder="Ingrese DNI">
    <div class=text-danger th:if="${#fields.hasErrors('usuario.username')}" th:errors="*{usuario.username}"></div> 
     
  </div>
  <div class="col-md-4 position-relative">
    <label for="NroTramite" class="form-label">Nº de Tramite</label>
    <input th:field=*{nroTramite} type="number" class="form-control" id="NroTramite" placeholder="Ingrese numero de tramite"> 
    <div class=text-danger th:if="${#fields.hasErrors('nroTramite')}" th:errors="*{nroTramite}"></div> 
  </div>
  
  <div class="col-md-4 position-relative">
    <label for="emailId" class="form-label">Email</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="email">@</span>
      <input th:field=*{email} type="email" class="form-control" id="emailId" aria-describedby="email" placeholder="Ingrese email">
    </div>
     <div class=text-danger th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div> 
  </div>
  
  <div class="col-md-4 position-relative">
    <label for="ProvinciaId" class="form-label">Provincia</label>
    <input th:field=*{provincia} type="text" class="form-control" id="ProvinciaId" placeholder="Ingrese provincia">
    <div class=text-danger th:if="${#fields.hasErrors('provincia')}" th:errors="*{provincia}"></div> 
  </div>
  
  <div class="col-md-4 position-relative">
    <label for="EstadoCivilId" class="form-label">Estado Civil</label>
    <select th:field=*{estadoCivil} class="form-select" id="EstadoCivilId" >
      <option value="Soltero/a">Soltero/a </option>
      <option value="Casado/a"> Casado/a </option>
      <option value="Viudo/a"> Viudo/a</option>
       <option value="Divorciado/a"> Divorciado/a</option>
      <option value="No especificar"> No especificar </option>
    </select>
  </div>
  
  <div class="col-md-4 position-relative">
    <label for="TelefonoId" class="form-label">Telefono</label>
    <input th:field=*{telefono} type="text" class="form-control" id="TelefonoId" placeholder="Ingrese telefono">
    <div class=text-danger th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div> 
  </div>
  
  <div class="col-md-4 position-relative">
    <label for="ContraseñaId" class="form-label">Contraseña</label>
    <input th:field=*{usuario.contraseña} type="password" class="form-control" id="ContraseñaId" placeholder="Ingrese contraseña">
    <div class=text-danger th:if="${#fields.hasErrors('usuario.contraseña')}" th:errors="*{usuario.contraseña}"></div> 
  </div>
  
  <div class="col-md-4 position-relative">
    <label for="FechaNacId" class="form-label">Fecha de nacimiento</label>
    <input th:field=*{fechaNac} type="date" class="form-control" id="FechaNacId" placeholder="Ingrese fecha de nacimiento">
    <div class=text-danger th:if="${#fields.hasErrors('fechaNac')}" th:errors="*{fechaNac}"></div> 
  </div>
  <div class="col-md-4 position-relative">
    <label for="ProvinciaId" class="form-label">Tipo</label>
    <input th:field=*{usuario.tipo} type="text" class="form-control" id="ProvinciaId" placeholder="Ciudadano" disabled="disabled" value="Ciudadano">
  </div>
  
  <div class="col-12 centraar">
    <button class="btn btn-primary" type="submit" >Guardar</button>
     <a th:href="@{/ciudadano/inicio}" class="btn btn-secondary" role="button">Cancelar</a>
  </div>
 </form>
</div>
</div> 
</div>

  <footer th:replace="/layouts/footer::footer"></footer>  
</body>
</html>