<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>	
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>	
		<meta charset="utf-8">
         <title>Curriculum Vitae </title>
</head>
<body>
   <header th:replace="/layouts/headerCiu::headerCiu"></header> 
   
      <div class=container> 
          
     
          <div class="card">
            <div class="card-body">
              <blockquote class="blockquote mb-1">
                
            
               <div class="card bg-dark text-dark">
                 <img height="350px" th:src="@{/images/empleo1.png}" title="empleo" alt="empleo" />
                  <div class="card-img-overlay">
                    <h1 th:text= "${cv.nombre}"></h1>
                  </div>
               </div> 
                
                 <section> <h4>Experiencia Laboral:</h4> <a  th:text= "${cv.expLaboral}"> </a> </section> 
                 <section> <h4>Educacion: </h4> <a  th:text= "${cv.educacion}"> </a> </section> 
                 <section> <h4>Idiomas:</h4> <a  th:text= "${cv.idiomas}"> </a> </section> 
                 <section> <h4>Informacion Complementaria: </h4><a  th:text= "${cv.infoComplementaria}"> </a> </section> 
                 <section> <h4>Contacto: </h4> <a  th:text= "${cv.contacto}"> </a>  </section> 
                 
                
             </blockquote>
          </div>
         </div>
         
        </div>
       
   <footer th:replace="/layouts/footer::footer"></footer>
</body>
</html>